<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0.3//EN"
		 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pww.mapper.BoardMapper">

    <select id="list" resultType="map">
        SELECT * FROM test123.board
    </select>

</mapper>




